<div id="pagewrap">

	<header>
			<h1>Sieze the day. Time to do Something...</h1>
			<h2>Wonderful, Inspirational, Funny, Beautiful, Random.</h2>
	</header>
		
	<section class="login" id="content">
		<a class="registerClick" href=""><h2 class="button">Register</h2></a>
		<form class="animatedForm" method="post" action="/users">
			<label>Username:</label>
			<input type="text" name="username">
			<label>Password:</label>
			<input type="password" name="password">
			<label>Zip-code:</label>
			<input type="text" name="zip_code" placeholder="For weather accuracy!">
  		<input class="submit" type="submit" value= "Create account">
		</form>		

		<% if @error %>
		<p class="error_message"><%= @error %></p>
		<% end %>	

		<% if @errors %>
  		<ul>
  			<% @errors.each do |error| %>
   				<li><%= error %></li>
  			<% end %>
  		</ul>
		<% end %>
		
	</section>
	
	<section id="content" >


	</section>

	<aside id="sidebar" class="">
				<a class="registerClick" href=""><h2 class="button">Login</h2></a>
		<form class="animatedForm" method="post" action="/session">
			<label>Username:</label>
			<input type="text" name="username">
			<label>Password:</label>
			<input type="password" name="password">
  		<input class="submit" type="submit" value= "Login">
		</form>		

	</aside>
	
	<footer>
		
	</footer>

</div>


<!-- AIzaSyCNm_hvfwsYFmKa52c8rUtiPdoDKTxagv4 -->